<% provide(:title, 'Time table') %>
<div class="container">
  <div>
    <h1>打刻時間の変更</h1>
    <div class="punch-time-edit">
      <div class="punch-edit-form">
        <%= form_for(@punch) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <% if punch_at_session_in? %>
          <%= f.label :punch_at_in, "出社時間" %>
          <div class="before-punch-edit">
            <a>変更前</a><%= to_time(@punch.punch_at_in) %>
          </div>
          <div class="punch-edit-select-form">
            <%= f.datetime_select :punch_at_in, minute_step: 5, default: @punch.punch_at_in %>
          </div>
        <% else %>
          <%= f.label :punch_at_out, "退社時間" %>
          <% if @punch.punch_at_out %>
            <div class="before-punch-edit">
              <a>変更前</a><%= to_time(@punch.punch_at_out) %>
            </div>
            <div class="punch-edit-select-form">
              <%= f.datetime_select :punch_at_out, minute_step: 5, default: @punch.punch_at_out %>
            </div>
          <% else %>
            <div class="punch-edit-select-form">
              <%= f.datetime_select :punch_at_out, minute_step: 5, include_blank: true %>
            </div>
          <% end %>
        <% end %>
        <div class="punch-edit-btn">
          <%= f.submit "更新", class: "btn btn-primary" %>
          <%= link_to "削除", punch_path, method: :delete, data: { confirm: "一覧から一日分の打刻を削除します。よろしいですか？" } %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
