<% provide(:titl, "Edit user") %>
<div class="main">
  <div class="container">
    <div class="user-edit-section">
      <h1>ユーザー設定</h1>
        <div class="user-edit-form">
          <%= form_for(@user) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
            <div class="edit-name form">
              <%= f.label :name %>
              <%= f.text_field :name %>
            </div>
            <div class="edit-email form">
              <%= f.label :email %>
              <%= f.text_field :email %>
            </div>
            <div class="edit-password form">
              <%= f.label :password %>
              <%= f.password_field :password %>
            </div>
            <div class="edit-password-confirmation form">
              <%= f.label :パスワードの確認 %>
              <%= f.password_field :password_confirmation %>
            </div>
            <div class="new-group form">
              <%= f.label :所属 %>
              <%= f.select :group, [["取締役", "1" ],
                                    ["経理", "2" ],
                                    ["開発", "3" ],
                                    ["営業", "4" ],
                                    ["その他", "0" ]] %>
            </div>
            <div class="edit-user-img form">
              <%= f.label :アカウント画像の変更 %>
              <%= f.file_field :picture %>
            </div>
            <div class="edit-btn form">
              <%= f.submit "更新", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
    </div>
  </div>
</div>