<% provide(title: "Signup") %>
<div class="container">
  <div class="user-new-section">
    <h1>Sign up</h1>
      <div class="user-new-form">
        <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="new-name form">
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>
        <div class="new-email form">
          <%= f.label :email %>
          <%= f.text_field :email %>
        </div>
        <div class="new-password form">
          <%= f.label :password %>
          <%= f.password_field :password %>
        </div>
        <div class="new-password_confirmation form">
          <%= f.label :パスワードの確認 %>
          <%= f.password_field :password_confirmation %>
        </div>
        <div class="new-group form">
          <%= f.label :所属 %>
          <%= f.select :group, [["取締役", "1" ],
                                ["経理", "2" ],
                                ["開発", "3" ],
                                ["営業", "4" ],
                                ["その他", "0" ]] %>
        </div>
        <div class="user-new-btn form">
          <%= f.submit "アカウント登録", class: "btn btn-primary" %>
        </div>
        <% end %>
      </div>
    </div>
</div>
