<div class="punch-list list">
  <ul class="punch-list-title">
    <li class="user-img-name user-img-name-title">　</li>
    <li class="punch-at-in-time punch-at-in-time-title">出勤</li>
    <li class="punch-at-out-time punch-at-out-time-title">退勤</li>
  </ul>
  <% @punches.each do |punch| %>
  <ul class="punch-list-contents">
    <li class="user-img-name user-img-name-contents">
      <%= link_to user_img(punch.user), punch.user %>
      <%= link_to punch.user.name, punch.user %>
    </li>
    <div class="border"></div>
    <li class="punch-at-in-time punch-at-in-time-contents">
      <% if logged_in? && punch.user_id == current_user.id %>
        <% if session[:show_page] == "stamps" %>
          <%= link_to "#{to_date(punch.punch_at_in)}#{to_time(punch.punch_at_in)}", edit_punch_path(punch, edit: 'in') %>
        <% else %>
          <%= link_to "#{to_time(punch.punch_at_in)}", edit_punch_path(punch, edit: 'in') %>
        <% end %>
      <% else %>
        <%= to_time(punch.punch_at_in) %>
      <% end %>
    </li>
    <div class="border"></div>
    <li class="punch-at-out-time punch-at-out-time-contents">
      <% if punch.punch_at_out %>
        <% if logged_in? && punch.user_id == current_user.id %>
          <% if session[:show_page] == "stamps" %>
            <%= link_to "#{to_date(punch.punch_at_out)}#{to_time(punch.punch_at_out)}", edit_punch_path(punch, edit: 'out') %>
          <% else %>
            <%= link_to "#{to_time(punch.punch_at_out)}", edit_punch_path(punch, edit: 'out') %>
          <% end %>
        <% else %>
          <%= to_time(punch.punch_at_out) %>
        <% end %>
      <% else %>
        <p>no punch</p>
      <% end %>
    </li>
  </ul>
  <% end %>
</div>