<header>
  <div>
    <nav>
      <ul class="header-menus header-menus-left">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
    <%= link_to root_path, id: "logo" do %>
      <%= image_tag "PunchApp_white_logo.png" %>
    <% end %>
    <nav>
      <ul class="header-menus header-menus-right">
        <li><%= link_to "StampList", punches_path %></li>
        <% if logged_in? %>
        <li><%= link_to "Posts", posts_path %></li>
        <li class="user-dropmenu" id="dropmenu">
          <a><%= user_img(current_user) %></a><a id="down">▼</a>
          <ul>
            <li><%= link_to "マイページ", current_user %></li>
            <li><%= link_to "設定", edit_user_path(current_user) %></li>
            <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
          </ul>
        </li>
        <% else %>
        <li><%= link_to "ログイン", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
    